[2020-05-08 11:47] Jeehut commented on #187
@faithfracture Yes, this is just a configuration issue. In you `.bartycrouch.toml` I can see that `additive` is set to `false`. As described in the README under `code` options, the `additive` option does this: "Prevents cleaning up keys not found in code."

So just set it to `true` (which is the case by default by the way) and it should work as expected.

[2020-05-08 11:47] #187 closed

[2020-05-08 12:36] Jeehut opened #188 "Causing issues with some services that output always in UTF16"
## Expected Behavior
Should be flexibly configurable to work better with other tools.

## Actual Behavior
When using BartyCrouch and Phrase.com for translation management, the output from Phrase.com when pulling translations from there often results in UTF16 files, ignoring the current encoding of the file. To work well with such services, BartyCrouch should support outputting the Strings files in

[2020-05-08 16:10] faithfracture commented on #187
Yep, that took care of it. Thanks!

[2020-05-22 03:30] heavensword commented on #154
I encounter the same problem. How to fix it?

[2020-05-23 05:57] Jeehut commented on #154
@heavensword Can you please provide more info like the version of BartyCrouch you're using and your config file?

[2020-05-24 18:47] thecoolwinter opened #190 "Translate Causing Fatal Error"
## Expected Behavior
I'd like to use the machine translation feature of BartyCrouch. I have 'update.translate' configured in my `.bartycrouch.toml` file.

## Actual Behavior
Whenever I run `bartycrouch update` in the terminal it runs through each phase of the update, then hits a fatal error on translate. The error when running with `-v -x` is:
[code]

My .toml file looks like:
[code]

My .strings

[2020-05-25 16:08] thecoolwinter commented on #190
I've solved it now, I ended up writing my own script to do the translation.

[2020-05-25 16:08] #190 closed

[2020-05-26 06:58] heavensword commented on #154
Thanks~, my Project Swift version is 4. I guess this is the reason.I will try to upgrade the swift version used in the project.

[2020-05-28 09:21] Jeehut commented on #190
@thecoolwinter Hi, I'm sorry that this happened and you needed to write your own script. I haven't used the translate option in any project for a while now so I'm not sure if there are any changes in API or similar. But tests seem to be passing, one thing I can see from your toml file is that you haven't configured the `path` properties to point to something more specific than `.` which might matc

[2020-05-29 03:24] ppcharlier opened #191 "Error: Translation request failed with error: The operation couldn’t be completed. (Microya.JsonApiError error 1.)"
## Expected Behavior
translation using Microsoft Translator API

## Actual Behavior
Keep empty translations and say "Found empty value for key ..."

## Steps to Reproduce the Problem

  1. Add string to source language
  2. enter configuration in toml file (secret, I tried both subscription id and the 2 API keys)
  3. build

## Specifications

  - Version: 4.2.0
  - Platform: macOS
  - IDE Version

[2020-06-01 00:29] jxa13 commented on #191
Unfortunately I have the same problem 😔

[2020-06-02 01:06] jxa13 commented on #190
@thecoolwinter would you mind sharing your script for the translation, please?

[2020-06-09 12:31] jassimkm commented on #123
Same issue with xcode 11.5 and 4.2 version

[2020-06-09 18:52] Jeehut commented on #123
@jassimkm Can you please provide more info about the context like your OS version, the output of `swift -version`? Cause I just tested with `Apple Swift version 5.2.4` and `macOS 10.15.4` and it worked.

[2020-06-11 16:54] ppcharlier commented on #191
Hi, Could you please explain or link an explanation on how to create an Azure instance in global domain ? Every time I try to create one it’s in a dedicated endpoint :-/

[2020-06-11 23:46] jtruher commented on #191
I was able to do it, or something a lot like it, with instructions [from here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal).  I had a failed first attempt at setting it to Global and struggled a little bit with their UI.  Things seemed to fail for no obvious reason.

[2020-06-17 22:39] jtruher opened #192 "Translations not attempted"
## Expected Behavior

Non-sourceLocale languages should have translated strings if the 'translate' step exists.

## Actual Behavior

No translations are performed, or even attempted, as near as I can tell.

## Steps to Reproduce the Problem

  1. run `bartycrouch update`
  2. See this output:

[code]

I've got 9 languages in there, and it's worked successfully before, but the `translate` step does

[2020-06-17 23:05] jtruher commented on #192
For anyone who finds this: I was able to get things translating again by setting:
- defaultToBase in update.interfaces to false,
- defaultToKeys in update.code to false
and huzzah!

[code]

I'm not sure if this was something I was doing wrong, or if this is safe to close, or what!

[2020-06-19 06:20] Jeehut commented on #192
@jtruher Let's keep it open until we have time to reproduce the situation you had before. If it was not working with the default options turned on, then something is wrong anyways and it should be fixed.

Thank you for reporting!

[2020-07-04 14:37] uniqby commented on #192
Still not working.

Version: 4.2.0
Platform: MacOS
IDE Version: 11.5 (11E608c)

```bartycrouch init```

[code]

[2020-07-04 21:15] jtruher commented on #192
@uniqby - it appears that you're missing the "translate" task in the tasks array at the top, and the update.translate block, which should look something like this:
[code]

[2020-07-16 15:35] frankrei opened #193 "No Translation attempted: No source language files found. No input files found"
I have a fairly non-standard setup for a macOS project with multiple targets.

My config file is "vanilla":

[code]

running the update task outputs:

[code]

Indicating that the Localizable.strings files are found just fine, but then the 'Normalize' and 'Translate' tasks don't seem to be finding anything.

The ‘/Users/frankreiff/Dropbox/git/abfa4/Resources/Distribution/fr.lproj/Localizable.string

[2020-07-17 23:17] Jeehut commented on #193
@frankrei Thank you for reporting this issue. Please note that it's not recommended to use the "vanilla" configuration path. As stated in the README, it is a good idea to provide any `path` containing config options. Another question: I don't see any `en.lproj` folder, but you have `en` configured as your source language. Do you even have English localization strings?

[2020-07-18 08:10] frankrei commented on #193
Hi,

I have played around with all the options ad-naseum before opening the ticket. While totally understandable, the lack of documentation/ samples meant that I wasn't really certain what is supposed to go into the `paths` variables: relative paths up to/or including the .lproj, with or without a `/` at the end, or an absolute path? I also played the `defaultToBase` and `defaultToKeys` flags.

In

[2020-07-18 10:11] Jeehut commented on #193
This is actually not correct, the `README.md` does have documentation & examples for paths, see here:

But having that said, if you have any suggestion on how we could improve the documentation here, feel free to post a PR with what would have helped you and I'll happily review and merge it.

Next:

Yes, you were certainly using Base internationalization the wrong way the whole time and ist just h

[2020-07-18 12:01] frankrei commented on #193
Hi,

I'm sorry if I came across as aggressive; it was certainly not my intention. I very much appreciate both the effort put into Bartycrouch and you taking the time to respond to my bug report. I had totally overlooked the paths examples. My bad.

I'm well aware of my lack of expertise in localization. I only started shipping localizations a few years back and do the translation work to German an

[2020-07-18 14:36] frankrei commented on #193
I have spent an hour or so experimenting and trying to understand what's going.

I have "hacked" the region identifier into the `MicrosoftTranslatorApi.swift` file:

[code]

and the translation is now working for me. Even though I haven't ever worked with any of the packages that you use, I can pretty much see how to add a "region" option. I haven't ever contributed to an open-source project and I

[2020-07-18 17:00] Jeehut commented on #193
@frankrei Feel free to post a PR with your additional option, would be great if it also resolved #191.

Yes, BartyCrouch currently doesn't seem to support `NSLocalizedStringFromTable` as far as I know, we're simply using some of Apples tools and I think they don't support it. Please have a look at https://github.com/Flinesoft/BartyCrouch/issues/20 which is related, I think.

Regarding your configu

[2020-07-18 17:00] #193 closed

[2020-07-19 19:18] Jeehut opened #194 "Automate addition of LocalizedStringKeys to source locale"
As described in my article [Safer Localization in SwiftUI](https://dev.to/jeehut/safer-localization-in-swiftui-4gn8), BartyCrouch can already be used for normalizing and linting localiation on SwiftUI-only applications. But the transformation from `NSLocalizedString` or `BartyCrouch.translate` doesn't support the new `LocalizedStringKey` type yet.

We should consider adding an option to transform

[2020-07-20 22:37] futuretap opened #195 "XLIFF export considering #bc-ignore!"
## Problem Statement
Xcode's builtin "Export for Localization…" XLIFF export includes IB views marked with `#bc-ignore!`.

## Suggested Solution
`bartycrouch export-xliff`

## Example Usage
`bartycrouch export-xliff <destination-dir> <languages>`

destination-dir: optional, defaults to `.`
languages: comma-separated list of language codes; optional, defaults to proj languages.

The exported format

[2020-07-23 08:57] lechuckcaptain commented on #195
I have the same issue and after a couple of days of searching what's the best option available I found this nice hack:

https://stackoverflow.com/a/46991397/355465

Basically for terms ignored using the standard **BartyCrouch** notation `#bc-ignore!` you just need to launch the following command:

`xmlstarlet ed -d "//*[contains(text(), 'Note = \"#bc-ignore\!')]/.." en.xliff > en_clean.xliff`

I'm

[2020-07-23 11:26] lechuckcaptain commented on #123
I had the same issue. I have in my environment multiple Xcode versions:

[code]
I solved creating a symbolic link to the desired Xcode version I wanted to use.

[code]

Having the following status:

[code]

[2020-07-28 14:09] lechuckcaptain opened #196 "Normalize: harmonizeWithSource=false parameter is simply ignored"
## Expected Behavior
No keys should be added to strings files if normalize task has set the parameter to harmonizeWithSource = false

## Actual Behavior
Keys are added with empty string as value

## Steps to Reproduce the Problem

  1. Enable normalize task
  2. Set harmonizeWithSource = false
  3. Add new terms to source language (e.g. "en")
  4. Run bartycrouch update
  5. New terms are added to

[2020-07-29 23:24] scottsymes commented on #191
Seems to be related to Auth of a global versus Regional resource:

The regional resource requires an additional parameter `Ocp-Apim-Subscription-Region`:
[code]

[2020-08-24 07:12] Jeehut commented on #143
@MSlaski As I don't have much time, to fix this, I'd need a Demo project (with code and config) where this can be reproduced. This way it will be much easier for me (or someone else) to fix.

[2020-08-27 12:34] UtkuDalmaz opened #198 "build problem on xcode 12 beta 6"
I am having this on xcode 12 beta 6

[code]

Any idea?

[2020-09-11 09:31] JJaviMS opened #199 "Error: Could not parse syntax tree of Swift file."
Hi,

I´m trying to use Bartycrouch in my project but when my Swift files are being parsed a got the following warnings for each of them: `Could not parse syntax tree of Swift file.`.
(./Project/AppDelegate.swift:  Could not parse syntax tree of Swift file.)

I also got the following warning: `Could not find 'SupportedLanguage' enum within 'BartyCrouch' enum within path.`, even when I have the file

[2020-09-13 19:49] klartext79 opened #200 "macOS Big Sur beta - dyld: Library not loaded: @rpath/lib_InternalSwiftSyntaxParser.dylib"
In a clean macOS Big Sur beta 5 (20A5364e) installation with also clean Xcode 12 beta installation in an objective-c project, bartycrouch (4.2.0) can neither be loaded correctly by cocoa pods nor after installing via homebrew.

In both cases we receive

`dyld: Library not loaded: @rpath/lib_InternalSwiftSyntaxParser.dylib
  Referenced from: /usr/local/bin/bartycrouch
  Reason: image not found
zsh:

[2020-09-17 14:17] Kondamon commented on #199
In Xcode 12.0 (12A7209) I receive the same two warnings as @JJaviMS . Everything worked before but after upgrading to Xcode 12 BartyCrouch is not working anmyore.

[2020-09-17 14:25] JJaviMS commented on #199
When I published the error I was on an old XCode version. I updated XCode to the latest version and it started working, but today when I updated XCode to the latest version (12.0 (12A7209)) I started to have the same error again in the same way @Kondamon  has pointed out.

[2020-09-17 14:41] #147 closed

[2020-09-17 15:12] Kondamon commented on #199
BartyCrouch can not parse any file within XCode projects. I receive the warning `Could not parse syntax tree of Swift file.`for every file when I run `bartycrouch update -x`

[2020-09-23 06:18] trujamal opened #201 "BartyCrouch: Could not parse syntax tree of Swift file."
## Expected Behavior
No warning's should show

## Actual Behavior
Two warnings shows as follows

-  BartyCrouch:  Could not find 'SupportedLanguage' enum within 'BartyCrouch' enum within path.
- BartyCrouch:  Could not parse syntax tree of Swift file. #199

## Steps to Reproduce the Problem

  1.  Open any project on Xcode 12.0 (12A7209)
  2. Proceed to build project with implmentation
  3. Then i

[2020-09-23 13:52] lechuckcaptain commented on #200
I had the same issue, found this workaround on another project and solved the problem:

https://github.com/realm/SwiftLint/issues/3105#issuecomment-611136101

[2020-09-23 13:54] lechuckcaptain commented on #198
Check if workaround proposed in #200 solve the issue also for you.

[2020-09-23 17:32] hasancaslan commented on #199
Same issue #201 #199.  I'm using _Xcode Version 12.0 (12A7209)_.
Getting `Could not parse syntax tree of Swift file.` and
`Could not find 'SupportedLanguage' enum within 'BartyCrouch' enum within path.`

[2020-09-24 16:22] AdminAnticaptcha commented on #201
Same here

[2020-09-24 23:00] guidedways opened #202 "Normalize: How do we prevent "Removing unnecessary keys"?"
## Expected Behavior
This is my current configuration, I expect `harmonizeWithSource` to not remove any key it thinks is unnecessary.
[code]

## Actual Behavior
Removing keys from Localization.strings

[2020-09-25 00:09] guidedways opened #203 "Machine translation not working?"
## Expected Behavior
Documentation talks about a `translation` configuration. Followed instructions but nothing is translated.

## Actual Behavior
No translation

[2020-09-26 01:21] robinatrune opened #205 "Unable to add package using SPM in XCode12."
## Expected Behavior
Able to add package.

## Actual Behavior
Fails at "Resolving package dependencies"

## Steps to Reproduce the Problem

  1. New -> Swift Packages -> Add Package Dependency
  2. Choose Project
  3. Add "https://github.com/Flinesoft/BartyCrouch.git" then default Rule (Version)

## Specifications

  - Version:
  - Platform: macOS 11.0 (Big Sur)
  - IDE Version: XCode 12

[2020-09-28 18:02] #199 closed

[2020-10-05 22:34] MSlaski opened #206 "New issues after upgrade to latest version"
## Expected Behavior
Compiling without any warnings/errors

## Actual Behavior
Two new warnings - one was solved, one still exist:

**Solved one:**
Could not parse syntax tree of Swift File
I solved it by adding path to supportedLanguageEnumPath from update.transform section

**Not solved warning:**
Could not find SupportedLanguage enum within BartyCrouch enum within path
I check few things at .ba

[2020-10-06 02:19] Jeehut commented on #205
@robinatrune Why are you trying to add this as a package? Are you trying to use the `BartyCrouchKit` product? Please note that BartyCrouch is not intended to be used via SwiftPM, at least I'm not aware of a feature that command line tools (what this is) are supposed to be installed via SwiftPM. I'm closing this as I think this is a misunderstanding, but I'll reopen if you explain your use case.

[2020-10-06 02:19] #205 closed

[2020-10-06 02:29] Jeehut commented on #206
@MSlaski Thank you for reporting this. I can't reproduce your issue, it's all working for me, so could you please provide the exact command you're executing which causes the warning and could you also provide the full contents of the `BartyCrouch` enum file?

[2020-10-06 02:33] Jeehut commented on #203
@guidedways Hi, I'm sorry the feature doesn't work for you. Can you please provide more info about the structure of your files (especially the Strings files) and the exact command you're executing + the output you're getting? Are there any warnings? Please use the `-v` option to get a more verbose output, maybe it will provide some more detail.

[2020-10-06 02:35] Jeehut commented on #202
Duplicate of #197.

[2020-10-06 02:35] #202 closed

[2020-10-06 02:36] #196 closed

[2020-10-06 03:07] Jeehut commented on #200
This should be fixed with `4.3.0`. Please report otherwise if it still happens.

[2020-10-06 03:07] #200 closed

[2020-10-06 03:07] Jeehut commented on #198
This should be fixed with version 4.3.0, please report otherwise if it still happens.

[2020-10-06 03:07] #198 closed

[2020-10-06 03:12] Jeehut commented on #196
Just merged #197 and made a new release (`4.3.1`), once https://github.com/Homebrew/homebrew-core/pull/62156 is merged, it should be available via Homebrew.
Thank you @lechuckcaptain for reporting this and the fix.

[2020-10-06 06:19] MSlaski commented on #206
Hello @Jeehut
[code]

That warning appear when I trigger a project's build. It's fresh project and I don't have any code related to BartyCrouch on it, its my first attempt to use that pod and I configured it few weeks ago, all was working fine. Now im working on different stuff like CoreData, coordinators etc. So from my point of view nothing was changed around BartyCrouch

[2020-10-06 20:21] Jeehut commented on #206
Use as a pod? Are you using CocoaPods for integrating BartyCrouch? Have you tried installing BartyCrouch via Homebrew and trying that way? Are you having the same issue? The enum file looks fine on first sight ... if you could provide a Demo project where I can reproduce this, it would be perfect. Given that you just setup a project, maybe you can upload a ZIP file for me? :) Feel free to send to

[2020-10-06 21:36] MSlaski commented on #206
I'm using CocoaPods for different frameworks, BartyCrouch was integrated via Homebrew. I will send my project to you via mail later :)

[2020-10-06 22:57] MSlaski commented on #206
mail with project sent :)

[2020-10-06 23:07] MSlaski commented on #206
It's not possible to send it to provided slaski.mateusz11@gmail.com address. Please, check attachment
[project.zip](https://github.com/Flinesoft/BartyCrouch/files/5337336/project.zip)

[2020-10-07 13:27] Jeehut commented on #206
@MSlaski Thank you for providing the ZIP file. I've checked it out and immediately found the problem:

In you `.bartycrouch.toml` file you are pointing `supportedLanguageEnumPath` to the path `GU1DE/SupportingFiles`. But there is no such path. Your `BartyCrouch.swift` file lies under the path `Supporting_Files` instead, if you set the correct path, everything should work fine. At least I got the s

[2020-10-07 13:27] #206 closed

[2020-10-08 07:44] MSlaski commented on #206
Hi,
Still not working for me. When I set a path to `Supporting_Files` I have two warnings:
<img width="718" alt="Zrzut ekranu 2020-10-8 o 09 42 25" src="https://user-images.githubusercontent.com/32100798/95429397-a0817280-094a-11eb-8060-5f55ca52f335.png">

When I changed it to `GU1DE/Supporting_Files` still one warning is visible:
<img width="718" alt="Zrzut ekranu 2020-10-8 o 09 44 08" src="https

[2020-10-08 09:10] Jeehut commented on #206
Are you sure that you have the exact same project as you uploaded as a ZIP file? Can you try to run `bartycrouch update` via the command line in the GU1DE folder (folder where the `.xcworkspace` lies)? Do you get the same warning then? Can you also add the output of `swift --version` running from the command line?

[2020-10-08 09:28] MSlaski commented on #206
Yes, im sure it is the same project

<img width="1141" alt="Zrzut ekranu 2020-10-8 o 11 27 56" src="https://user-images.githubusercontent.com/32100798/95440530-594eae00-0959-11eb-9d15-e4955095f855.png">

iMac-Mateusz:GU1DE mat$ swift --version
Apple Swift version 5.1 (swiftlang-1100.0.270.13 clang-1100.0.33.7)
Target: x86_64-apple-darwin19.6.0

[2020-10-08 10:51] Jeehut commented on #206
Ahh, there we go, please note the [Releases Notes](https://github.com/Flinesoft/BartyCrouch/releases/tag/4.3.0) for version 4.3.0 stating this:

You might have installed Xcode 12.0.1 but it seems your don't have the command line tools of Xode 12 installed. Please make sure you have them installed which you can verify easiy with `swift --version` which should output Swift 5.3.

[2020-10-10 12:26] klartext79 commented on #200
Meanwhile @lechuckcaptain 's solution worked 👍
I will test it. Thank you.

[2020-10-19 10:54] NMAC427 commented on #151
I'm experiencing the same issue. And it still hasn't been fixed in version 4.x. Would be great if someone could take a look at this.

[2020-10-19 12:19] Jeehut commented on #151
@NMAC427 Thank you for bringing this up again. As I have noted above, BartyCrouch is currently based on tools from apple (namely `extractLocStrings`) which don't support XML/PLIST files (AFAIK), so it's not trivial to add support for Siri shortcut translation files. But I'm actually thinking about switching to a completely custom implementation for the next major version of BartyCrouch where I cou

[2020-10-19 14:38] NMAC427 commented on #151
A few years ago I developed such a system myself for my own projects. It definitely is possible but the main problem with it is that Apple constantly creates breaking changes (i.e. new platform or new ui element). As long as Apple provides tools to generate .string files from storyboards, I would use their tools. That way you automatically get support for new ui elements and platforms. (This is al

[2020-10-21 14:11] ASamirbadran commented on #135
same issue here

[2020-11-11 15:23] EgorkZe opened #208 "Using keys as standard value only for one local"
## Problem Statement
I want to use keys as value only for one base lang, cause other languages should be translated.
When i set defaultToKeys = true all languages got keys as values and no one translated.
How can i handle it? Thank you

[2020-11-15 14:41] Jeehut commented on #208
I think that's currently not possible. A new option would be needed for that which restricts the default to base option to a given set of languages.

Feel free to post a PR that adds this feature, I'd happily merge it. 😁

[2020-11-15 23:39] slashlos commented on #145
I'm trying to first fetch localized assets, but it failing due to this - installed via brew a few days ago
[code]
with this code
[code]

[2020-11-15 23:46] slashlos commented on #148
Hmmm, noob here, saw #145 but issue appears to persist; also a brew install
[code]
using this NSDataAsset extension - try for localized version first
[code]
Is the solution to **not** expose paths containing such code to the update etc stages?

[2020-11-16 02:13] tmolitor-stud-tu commented on #179
For me (Xcode 12.2, MacOS 10.15.7) only this helped:
`install_name_tool --change @rpath/lib_InternalSwiftSyntaxParser.dylib /Applications/Xcode.app/Contents/Frameworks/lib_InternalSwiftSyntaxParser.dylib /usr/local/bin/bartycrouch`

[2020-11-21 10:17] PB-1996 opened #210 "Would you like to add optional parameters for transform?"
## Problem Statement
I want to make custom name for SwiftGen enum instead of L10n. But BartyCrouch transform method can use only L10n name for "swiftgenStructured" transform.

## Suggested Solution
Add optional parameters dictionary. For example: `transformParameters: [String: Any]`
You could write supported parameters for each transform method. So for "swiftgenStructured" you could define "type"

[2020-11-22 01:51] slashlos commented on #148
So I got around this issue for me; I had an array of strings, indexed based on topic, passed to the asset handler.  The solution was to set up the source array from NSLocalizedString() calls for each literal string item - yuck., but no more error.

[2020-11-26 23:36] HKevin1993 commented on #162
I have the same error in swift，but it work

[2020-11-27 00:16] HKevin1993 opened #211 "Define a marco or function，meet a error：Argument is not a literal string"
## Expected Behavior
no error

## Actual Behavior
bartycrouch work，but throw a error with “bad entry in file /Users/xxx/Desktop/project_xxx/project_xxx/Macros.swift (line = 11): Argument is not a literal string.”

## Steps to Reproduce the Problem

  1. define a function:
func kkLocalizedString(_ key: String, comment: String) -> String {
    NSLocalizedString(key, tableName: "kkLocalizable", bundl

[2020-11-27 00:19] HKevin1993 commented on #162
bartycrouch script run before compile sources, then the "key" of NSLocalizedString is not string

[2020-12-14 18:11] BrunoScheltzke commented on #133
The solution @alphatroya provided worked for me! I was having the same issue.

[2020-12-14 18:14] BrunoScheltzke commented on #143
@MSlaski @deden, someone on issue #133 had a solution for that which help me too. Can you please try?

**" I've updated `supportedLanguageEnumPath` parameter for the `update.transform` action and problem have gone. "**

Basically you need to make sure the `supportedLanguageEnumPath` param takes you to the BartyCrouch file with the languages enum.

[2020-12-14 18:21] blwinters commented on #133
Sorry that I haven't replied to this thread. I'm no longer involved in the relevant project, but glad that @alphatroya was able to come up with a solution.

[2020-12-14 18:21] #133 closed

[2020-12-22 04:15] AndreMuisKP opened #212 "Install older versions of BartyCrouch"
## Problem Statement

I work in a corporate environment and we can't always be on the latest version of Xcode. Currently we are on Xcode 11.5 and I've had a difficult time trying to install bartycrouch 4.2.0 (for Swift 5.2).

## Suggested Solution

Why can't installing older versions of bartycrouch be as simple as 'brew install bartycrouch@4.2.0'? I ran 'brew search bartycrouch@' and it looks like

[2020-12-22 14:51] billp opened #213 "The bartycrouch update command doesn't skip directories"
## Expected Behavior
The bartycrouch update should skip the directories: ".git", "carthage", "pods", "build", ".build", "docs"

## Actual Behavior
The bartycrouch update command doesn't skip the directories: ".git", "carthage", "pods", "build", ".build", "docs"

## Steps to Reproduce the Problem
run bartycrouch update

[2020-12-22 14:55] billp commented on #213
You can review my pull request here: https://github.com/Flinesoft/BartyCrouch/pull/214

[2020-12-22 21:09] AndreMuisKP commented on #212
Solved my own problem: brew install https://homebrew.bintray.com/bottles/bartycrouch-4.2.0.catalina.bottle.tar.gz

[2020-12-24 20:20] #213 closed

[2020-12-24 20:42] Jeehut commented on #213
@billp Thank you for reporting and fixing this, just released in version 4.3.2. 🎉

[2020-12-24 20:58] billp commented on #213
Thanks @Jeehut, cheers 🍺

[2020-12-25 08:21] billp commented on #148
The Pods directory is excluded after this fix: https://github.com/Flinesoft/BartyCrouch/pull/214
I think this issue can be closed.

[2020-12-25 09:34] Jeehut commented on #148
Closing as fix released with 4.3.2 thanks to @billp, please report if issue still happens. 🎉

[2020-12-25 09:34] #148 closed

[2021-01-07 12:05] jamiegough opened #215 "Machine translator failure after adding new language to project"
I'm running BartyCrouch with Microsoft Machine Translator. This worked fine up until I added a localisation language to the XCode project that isn't supported by Microsoft Machine Translator (Zulu - zu.lproj).

## Expected Behavior
Continue translating files and skip the language (Zulu) that isn't supported by the translator

## Actual Behavior
Fails when it reaches a file that is in the unsupport

[2021-01-12 15:52] jamiegough opened #216 "Add more supported Microsoft Translator languages"
## Problem Statement
I need to add more languages to my localisations such as Gujarati and Punjabi, which are supported by Microsoft Machine Translator, but isn't in the list of Language enums in `BartyCrouch/Sources/BartyCrouchTranslator/MicrosoftTranslatorApi/Models/Language.swift`

## Suggested Solution
Is it possible to add in more Microsoft Machine Translator supported languages?

[2021-01-14 13:48] jamiegough commented on #216
Closed first pull request as it failed - duplicate enum case that wasn't picked up. Please ignore or delete #217

[2021-01-16 07:29] Jeehut commented on #212
@AndreMuisKP Thank you. Closing this then, as you found and posted the solution.

[2021-01-16 07:29] #212 closed

[2021-01-16 07:39] #216 closed

[2021-01-16 07:40] Jeehut commented on #215
Fixed by https://github.com/Flinesoft/BartyCrouch/pull/219. Preparing a release now ...

[2021-01-16 07:40] #215 closed

[2021-01-17 05:38] Danbana commented on #136
I am also having this issue.

I think this occurs when adding new Localized files (as described in the first post).

bartycrouch was working great, but now I've added two more Localizable-blah.strings files, and they are wiped out when I run bartycrouch.

I really need a way to ignore these files, but I doubt bartycrouch should be wiping files like this...

[2021-01-18 04:48] Danbana commented on #191
I was able to get the translation working when I recreated the resource as global.

Magical to see the automatic translation!

Well done Barty!

[2021-01-21 18:02] RSickenberg commented on #151
Hello, is this still ongoing?

[2021-02-03 09:52] vince4 commented on #135
I have the same issue using custom function :

[code]
Produce :

[code]
And the build fail.

The only workaround I found is to redirect the error to `/dev/null` :
`bartycrouch update >/dev/null 2>&1`

[2021-02-21 17:20] Jeehut commented on #194
FYI:
In my pure SwiftUI projects, I'm currently using [SwiftGen](https://github.com/SwiftGen/SwiftGen) with a custom `Strings.stencil` template:

[code]

I also altered the `BartyCrouch.swift` file I include to provide both access to a `LocalizedStringKey` and a plain `String`:

[code]

The `LocalizedString` is a type that's generated as part of my `Strings.stencil` file and looks like this:

[cod

[2021-04-09 13:32] illusionofchaos opened #221 "Nothing works if any of the project parent directories is named "Docs""
#214 completely breaks all functionality if you try to run this tool in a project which is located at **"/User/user/Docs/projects/some_project"**

[2021-04-17 16:01] Patrick-Kladek commented on #194
Thank you very much for this workaround.

Unfortunately I have a hard time understanding how to make all of this work.
This starts with the `Strings.stencil` template. How do I tell BartyCrouch to use it? Sadly the documentation doesn't mention this with one word. In the readme is a sample file but no explanation what todo with it. Do I need to add this to `.bartycrouch.toml` somehow?

The same qu

[2021-04-27 16:24] mzsanford opened #222 "XCode 12.5 not supported"
## Expected Behavior

XCode auto-updated to 12.5 and BartyCrouch is still expected to run.

## Actual Behavior

BartyCrouch fails with the message `Could not parse syntax tree of Swift file.`. I believe this is because a new version of [SwiftSyntax](https://github.com/apple/swift-syntax) is needed but there is not yet a new release. I attempted to use the current SwiftSyntax `main` but it resulted

[2021-05-08 18:11] #222 closed

[2021-05-08 18:12] Jeehut commented on #221
@illusionofchaos As you found the change that made this fail, would you mind adjusting the code so it works for you again and post a PR? :)

[2021-05-08 19:35] Jeehut commented on #222
@mzsanford I just made a new release (4.6.0) where your update is included. It should be available via Homebrew as soon as https://github.com/Homebrew/homebrew-core/pull/76866 is merged. Thanks again for bringing this up!

[2021-05-15 21:01] GPS0220 opened #224 "Flinesoft/BartyCrouch"
## Problem Statement

## Suggested Solution

## Example Usage

## Possible Involvement

 - I could help with implementation:
 - I could help with testing:

[2021-05-16 19:07] Jeehut commented on #224
@GPS0220 Hi, I think by mistake you forgot to add details to your issue, it's completely empty. Could you please explain what this is about? Otherwise I might need to close this as it's unclear.

[2021-05-16 19:27] Jeehut commented on #194
@Patrick-Kladek You are right, the README of BartyCrouch doesn't include detailed step-by-step explanations for beginners, it's targeted towards somewhat experiences iOS developers who have already used similar tools, like SwiftGen. The most detailed tutorial is I think still my [blog post](https://jeehut.medium.com/localization-in-swift-like-a-pro-48164203afe2) which is also mentioned at the top

[2021-05-22 01:30] #224 closed

[2021-06-15 10:12] emreond opened #225 "Some words translated lowercased on Spanish"
Hello,

When I try to translate english to spanish, some words translated with lowercased.

**P.S** I found that translating this keyword on Bing also gives lowercased result.
## Example Input
"More"

## Expected Behavior
"Más"

## Actual Behavior
"más"

## Steps to Reproduce the Problem

  1. Create a key with value "More"
  2. Translate it via terminal with "bartycrouch update"
  3. See the otpu

[2021-06-20 21:08] Jeehut commented on #225
@emreond As you already noticed in your update, this is not a defect in BartyCrouch but just the translation offered by the translation tool. As there's nothing we can do on it here within BartyCrouch, I will close this. If you have any idea what we could do to prevent this, feel free to add a comment and I'll reopen.

[2021-06-20 21:08] #225 closed

[2021-06-22 20:38] lukemmtt opened #227 "BartyCrouch.translate (swiftgenStructured) enum output doesn't align with SwiftGen enums"
## Problem
`BartyCrouch.translate` (with `transformer = "swiftgenStructured"`) is returning an enum which doesn't align with my SwiftGen generated enum.

I doubt this is an actual bug—rather, it's probably a configuration issue in my project, but I don't know what is wrong. In fact, I suspect it's an issue with my SwiftGen config, but I followed the [BartyCrouch / SwiftGen Medium tutorial](https:/

[2021-07-12 18:25] sixten commented on #200
Just ran into this issue with version 4.6.0, Xcode 12.5.1, and macOS 11.4. I tend to have a bunch of Xcode versions installed, all with non-standard names. Creating a symbolic link at `/Applications/Xcode.app`, as suggested above, seems to work around the problem.

[2021-07-14 09:55] pilky opened #229 "Option to revert modified interface string translations to Base"
## Problem Statement
Sometimes you need to update a string in an interface file that has already been translated. This necessitates updating the that string in all translations. However, interface strings are keyed to the object ID, so if the object itself doesn't change then bartycrouch only seems to update the comment, but leaves the actual localisations untouched. This requires developers to be

[2021-07-31 08:16] otzbergnet opened #231 "BartyCrouch generates warning "not installed" when run in Xcode Build Phases, but runs fine from CLI"
Before I start, I apologise, if this is down to me being very inexperienced

## Expected Behavior
When building my Xcode project, BartyCrouch will be executed based on the Build Phase Script (from readme.md) and update string files.

## Actual Behavior
When building my Xcode project the build process succeeds, but the following warning is generated warning: BartyCrouch not installed, download it f

[2021-08-05 12:26] hien352911 commented on #212
How to can i install with version 4.6.0?

[2021-08-10 23:46] tyirvine commented on #191
<img width="801" alt="Azure Global" src="https://user-images.githubusercontent.com/39813066/128948920-3f76e7f3-971a-406a-8b97-0be353d7de38.png">

Yup, just needed to select `Global` as region and then it works just fine.

[2021-08-17 21:53] Sam-Spencer commented on #194
Bump! @Flinesoft any progress on this?

[2021-08-17 21:55] Sam-Spencer commented on #231
Same issue here, but only having this issue on my new M1 Mac mini. This doesn't seem to occur with my intel-based MacBook Pro. Maybe it has something to do with how Homebrew works on Apple Silicon?

[2021-08-18 12:00] Jeehut commented on #194
@Sam-Spencer Currently BartyCrouch is based on tools from Apple which don't support `LocalizedStringKeys` though. While I am planning to do a bigger rewrite of BartyCrouch sometime in the future, that is probably quite some time away.

In the mean time, please note that there's 2 other options based on the [Pro Localization Workflow](https://jeehut.medium.com/localization-in-swift-like-a-pro-48164

[2021-08-18 14:30] lukemmtt opened #233 "BartyCrouch + SwiftGen: "additive = false" option does not work"
# Update
It appears that this issue may not be strictly a BartyCrouch bug, but rather a bug in how BartyCrouch works alongside SwiftGen.

After I experienced this `additive` bug, I tried using this library: https://github.com/ijoshsmith/abandoned-strings , which claims to do what this "additive = false" function is supposed to do. That library also failed to work as expected, so I did some digging

[2021-08-28 13:45] Jeehut commented on #231
@otzbergnet @Sam-Spencer @noafredman I am sorry the build script doesn't work as is on M1 Macs. Unfortunately, on my M1 mac I already installed the macOS 12 beta and Xcode 13 beta. With this configuration, it works both from within Xcode and the Terminal (I'm using iTerm).

Can you maybe give some additional info, e.g. the following might be helpful:

1. What's the output of `echo $PATH` in both t

[2021-08-29 08:59] otzbergnet commented on #231
Hello @Jeehut -

Thank you so much for responding and for the suggestion. I will be honest I didn't figure out your first suggestion fully, but I did add the export statement before the if statement and that not only silences the warning, but makes things work for me. So I am happy :)

`export PATH="$PATH:/opt/homebrew/bin"`

1. `/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/u

[2021-08-29 09:03] Jeehut commented on #231
@otzbergnet Then probably something was broken with your Homebrew setup. Could it be that you installed Homebrew on your M1 Mac quite some time ago when Homebrew had this issue? As not many are facing this, I'm assuming it's fixed in a later version of Homebrew.

[2021-08-29 09:07] otzbergnet commented on #231
I am happy to close this issue, as there is a viable workaround and I am also happy to assume that this was down to a homebrew issue. I hope that for @Sam-Spencer  and @noafredman the problem is equally fixable by either adding the path into the build script or updating homebrew.

THANK YOU so much for your suggestions, this was very helpful. Thank you so much! Grüße nach Karlsruhe!

[2021-08-29 09:07] #231 closed

[2021-09-20 20:58] lahariganti commented on #38
https://github.com/Flinesoft/BartyCrouch/blob/main/Sources/BartyCrouchKit/TaskHandlers/CodeTaskHandler.swift seems to use a preset value of `false` for `overrideComments`  . . . ? the below is how my `.bartycrouch.toml` looks like; seems like I am missing something key in the README
[code]

[2021-09-23 10:04] khorbushko commented on #206
hi, I have same issue, but for newest swift version

[code]

can u suggest some workaround?

[2021-09-23 12:47] nysander commented on #211
same here for:

[code]

[2021-09-28 18:17] Sam-Spencer opened #235 "Xcode 13: Could not find 'SupportedLanguage' enum within 'BartyCrouch' enum within path"
## Expected Behavior
BartyCrouch setup and installation for a project which worked on Xcode 12 should behave the same (or at least without warnings / errors) on Xcode 13.

## Actual Behavior
When opening a project in Xcode 13 with BartyCrouch and running `update` then `lint`, a warning appears in Xcode:

[code]

I have changed nothing in my BartyCrouch setup, `.toml` file, or with my localizations

[2021-09-29 10:11] khorbushko commented on #235
+1

[2021-10-03 09:56] Hengyu commented on #235
This [PR](https://github.com/Flinesoft/BartyCrouch/pull/234) updated the `SwiftSyntax` dependency which could solve the problem you faced.

[2021-10-13 10:20] mkcpb opened #237 "Can't build project after upgrade bartycrouch to 4.8.0"
## Expected Behavior

The project should be built as before the upgrade.

## Actual Behavior

After upgraded I get:

dyld: Library not loaded: @rpath/lib_InternalSwiftSyntaxParser.dylib
Referenced from: /usr/local/bin/bartycrouch
Reason: image not found

## Steps to Reproduce the Problem

  1. brew upgrade bartycrouch
  2.  Build the project
  3.

## Specifications

  - Version: 4.8.0
  - Platform

[2021-10-13 18:01] #237 closed, assigned to nobody

[2021-11-13 12:17] Jeehut commented on #235
True, this should be resolved by #234 and the release of version `4.8.0`, please run `brew upgrade bartycrouch`.

[2021-11-13 12:17] #235 closed

[2021-11-13 12:29] Jeehut commented on #233
@lukemmtt BartyCrouch actually (currently) doesn't detect the usage of keys in code itself. Instead, it uses the `ExtractLocStrings` tool developed by Apple and shipped alongside Xcode. This tool basically is able to detect Strings keys from code and generate a Strings file from it. That's what BartyCrouch does under the hood. And setting `additive` to `false` simply means that only keys generated

[2021-11-13 12:34] Jeehut commented on #229
@pilky Thank you for this idea. But I do not understand how this is useful yet. For example, in your above "example usage" you are updating the "Delete" base translation to "Remove". Imagine the German translation was "Löschen" before you made the change. I don't understand how it's any useful now to replace the German "Löschen" with the English "Remove" value.

The reason we update the comment is

[2021-11-13 12:39] Jeehut commented on #227
@lukemmtt I just skimmed through your ideas and haven't invested much time thinking it through. But the immediate thought I had was: "Why don't you simply use a custom SwiftGen template which produces a structure that would be compliant with BartyCrouch?" SwiftGen is based on [Stencil](https://github.com/stencilproject/Stencil) and you can easily adjust the template to produce a different structur

[2021-11-13 12:42] Jeehut commented on #211
BartyCrouch is (currently) using Apples `ExtractLocStrings` tool shipped as part of Xcode to detect Strings from code. So whatever limitations that tool has, the same limitations apply to BartyCrouch. Unfortunately, the approach you would like to take is not compatible with that tool, it only works with static strings.

I consider this an improvement, not a bug, so changing the tag.

[2021-11-16 10:45] pilky commented on #229
@Jeehut Comments are easier to overlook, partly by being comments, but mostly by being in the same language before and after the change.

The reason for wanting the string translations to be reverted to Base is that it is a bigger "error" and so easier to see. The translator doesn't need to check every string in the file each time and make sure the translations are still valid, they just need to l

[2021-11-16 15:40] Jeehut commented on #229
@pilky Thank you for explaining that to me, it does make more sense to me now. So what you're asking for is only relevant if you use Base-translation, which is not used directly in the first place. And what you want as an option is something like a "override all translations with base value if base changes", right?

This should be possible and I would accept a PR that implements this and documents

[2021-11-17 10:42] pilky commented on #229
@Jeehut Thanks. Unfortunately I don't have time to implement it right now but it's good to know you're open to the functionality. Hopefully when I or someone else on my team has some more time we can get it implemented and a PR up.

[2021-12-10 11:32] mwild1 commented on #142
This appears to still be an issue - I edited the string's comment in the code, and the strings files were not updated. Apparently 3.x used to have a command-line flag to overwrite comments but this was removed in 4.x. Suggestions welcome!

[2021-12-13 08:01] Jeehut commented on #142
@mwild1 Thanks for bringing this up. Starting in January, I'm going full-time Indie developer and thus I will be able to invest more time into Open Source development, too. I will have a look at this and other issues most likely in January/February 2022. But I'm always open to reviewing & merging a PR that fixes this in the meantime, so feel free to investigate yourself.

[2021-12-13 10:12] mwild1 commented on #142
Congratulations! I've been working full-time on open-source for over a year now, and I don't regret the jump :) Just gotta keep it financially sustainable...

Since posting my previous comment, I think the problem may be less straightforward. A subsequent run did update the comments. I'm wondering if only changing comments doesn't regenerate the files (i.e. changing the actual strings would force

[2021-12-21 17:06] tladesignz opened #239 "Explicit folders on the `codePaths` argument shouldn't be ignored later."
## Problem Statement

I have code in a pod which I want searched, but BartyCrouch will ignore these files, because they'll contain a "pods" folder in their URL.

## Suggested Solution

### From user view:
When a folder is added in the `codePaths` argument, which contains ignored folders, then the files in there should be included anyways.

### From developer view:
Only the subfolders of the folder

[2022-01-03 19:37] Jeehut commented on #239
@tladesignz Thank you very much for reporting this. We have a similar issue with `InfoPlist.strings` files getting ignored due to fixed constants that can't be configured to not be ignored via the configuration file. I plan to introduce configuration options for all fixed strings, I can also do that for `Pods` files so you can override ignoring the entire `Pods` folder and instead specify your own

[2022-01-04 09:28] tladesignz commented on #239
Making the ignore list configurable certainly would give a tool to fix my problem.

However, I would still consider the usage counter-intuitive: Even though, I explicitly add a certain folder to get scanned, it gets ignored by default, because one of its parent folders matches the default ignore-list.

As already stated: The ignore-list should only be applied to automatically found sub-folders of

[2022-01-04 16:10] Jeehut commented on #239
@tladesignz I think you got me wrong, I never said that I think your suggestion doesn't make sense or would break things for users, sorry that I wasn't more explicit: I do agree with your assessment that an explicit mention of a (sub)path in the `codePaths` should not be ignored by global ignores. The global ignores should only happen for subpaths if anything. I'm just not sure if that's easy to i

[2022-01-06 11:26] Sn0wfreezeDev commented on #179
I rediscovered the issue again when installing through Hombrew and **not** having an App with the name Xcode.app in the Applications folder. After renaming Xcode_13_x to Xcode.app it works as expected

[2022-01-11 13:41] tladesignz commented on #239
Was actually quite easy to fix. Hope that helps!

[2022-01-14 14:58] FlineDevPublic commented on #183
@ownmas Thank you for requesting this. I'm totally fine with Google Translate support, so if anybody is willing to add it, I would happily review & merge. Should also be easy enough to add a new service as this was done already in #220 for DeepL, for example.

[2022-01-14 15:07] FlineDevPublic commented on #195
@futuretap Thank you for reporting this feature request and sorry for answering so late. Maybe you don't have this issue anymore, but others may want the same thing, too, so let me share my thoughts on this:

In general I'm not sure if I want to bloat up BartyCrouch to be a tool that does everything related to localization. It was always meant to just fix the "missing parts" in Xcode, it's more li

[2022-01-14 15:30] FlineDevPublic commented on #233
Revisiting this again in [my stream](https://twitch.tv/jeehut) I think the solution @lukemmtt has found via [SwiftGen](https://github.com/SwiftGen/SwiftGen) and [Periphery](https://github.com/peripheryapp/periphery) is exactly how I would also recommend this to be solved and I doubt that even after investing a lot of time into such a feature, that it would work better than with the SwiftGen/Periph

[2022-01-14 15:30] #233 closed

[2022-01-14 15:34] FlineDevPublic commented on #185
Revisiting this again after some time, I think this feature is out of scope of this tool. A combination of other tools (SwiftGen + Periphery) can do exactly what you're asking for. See also my comment [here](https://github.com/Flinesoft/BartyCrouch/issues/233#issuecomment-1013225990). Closing.

[2022-01-14 15:34] #185 closed

[2022-01-14 15:51] FlineDevPublic commented on #239
Fixed via https://github.com/Flinesoft/BartyCrouch/issues/233 and https://github.com/Flinesoft/BartyCrouch/pull/240. 🎉

Thank you @tladesignz!

[2022-01-14 15:51] #239 closed

[2022-01-14 16:07] FlineDevPublic commented on #136
Revisiting this topic again in my Friday Open Source [live stream](https://twitch.tv/jeehut), I think things have gone quite wrong here while trying to fix the original posters request. What they had said is this:

So the actual issue, I'm guessing now, was that the key didn't have "quote marks around it", which probably caused BartyCrouch's regexes to not recognize them as keys. That's probably w

[2022-01-21 16:02] #136 closed

[2022-01-21 16:54] FlineDevPublic commented on #112
@iStefo I just had a look into this again, and reviewing it now, I'm under the impression that with the [Pro Localization Workflow](https://jeehut.medium.com/localization-in-swift-like-a-pro-48164203afe2) you can simply write code like `BartyCrouch.translate("some.key", translations: [.english: "Your translation"])` which BartyCrouch will turn automatically into `L10n.Some.key` and also it will on

[2022-01-21 17:00] FlineDevPublic commented on #162
@podkovyrin Hey, sorry for getting back so late. But I still want to answer your question (also in case someone else comes across this). So the thing is, that BartyCrouch doesn't itself traverse any code or IB files, instead it just reuses a tool that Apple is shipping part of Xcode, namely `extractLocStrings` (previously `genstrings`). And that tool does only support String literals, it does not

[2022-01-21 17:00] #162 closed

[2022-01-24 06:30] patricks opened #244 "NSLocationTemporaryUsageDescriptionDictionary translations gets removed"
I always had some translations for `NSLocationTemporaryUsageDescriptionDictionary` in the InfoPlist.strings file. Since the latest BartyCrouch update (4.9.0) they are removed. Maybe this is because there are not english (base language) keys available? But this isn't required, because the english language is already provides in the InfoPlist itself.

## Steps to Reproduce the Problem

  1. Add some

[2022-01-25 17:31] Jeehut commented on #244
@patricks Thank you for bringing this up. You are right that we are no longer ignoring strings files names `InfoPlist.strings` (there was never a reason to do that, it was introduced accidentally due to a misunderstanding) since version `4.9.0`. This might be the reason you see this happen just now. But generally there can only be 2 reasons for keys being removed:
1. The BartyCrouch [Strings file

[2022-01-26 06:52] patricks commented on #244
@Jeehut  I think this key needs some handling, because there basic keys are listed in the Info.plist itself.

Since iOS 14 there is this temporary location usage feature available. To inform the user why the app requires a location now you can set special info texts per use case. These keys are defined in the Info.plist as dictionary.

For details see:
[NSLocationTemporaryUsageDescriptionDictionar

[2022-01-26 10:05] Jeehut commented on #244
@patricks Thsnk you for the additional info. But from the documentation it's still not clear to ne how the Stings file might look like. Could you please prove an example (you can redact the exact translations if needed), so I can reproduce and fix? Thank you!

[2022-01-26 10:12] patricks commented on #244
@Jeehut the `InfosPlists.strings` file looks exactly as the code provided above:

`"friends" = "Eine Position wird benötigt um Freunde zu finden";`

And here is the `InfoPlist` file (cut):

[code]

[2022-01-26 13:01] Jeehut commented on #244
@patricks I see, so that was already the entries in the `InfoPlist.strings` file, I thought there was some kind of dictionary structure in the strings file that we have to support, such as:

[code]
😅

But it looks like the entries in your Strings file are plain old "normal" keys, so no new structure needed. When I put the Strings content you shared into a Regex checker, it perfectly matches the Re

[2022-01-26 13:36] patricks commented on #244
@Jeehut Ok now I got you. My final solution is that I added the `en` local version of the `InfoPlist.strings` file.

[2022-01-26 13:36] #244 closed

[2022-01-27 22:36] dtaylor1701 opened #245 "Cocoapods executable doesn't work on x86 machines"
## Expected Behavior
Running the executable distributed via cocoopods in a build phase works as expected.
Example:
`${PODS_ROOT}/BartyCrouch/bartycrouch lint -x --fail-on-warnings`

## Actual Behavior
An error is returned: `bartycrouch: Bad CPU type in executable`

## Steps to Reproduce the Problem

  1. Run the executable found at `Pods/BartyCrouch/bartycrouch`

## Specifications

  - Version: 4.

[2022-01-28 19:35] Jeehut commented on #245
@dtaylor1701 Thank you for reporting this. Unfortunately, I no longer have an x86 machine available. I also didn't write the `Makefile` script, I only follow the instructions in the README's [Contributing](https://github.com/Flinesoft/BartyCrouch#contributing) section. If you know how to adjust that script so it generates the x86 variant from an M1 Mac, feel free to adjust it. Otherwise, we might

[2022-01-28 20:03] DaanVanHirtum commented on #245
I had the same issue on an Intel Mac after updating to 4.9.0. Going back to 4.8.0 solved it.

[2022-01-28 21:48] dtaylor1701 commented on #245
I've put up an edit to the Makefile which should solve the issue. #246

[2022-01-28 23:24] Jeehut commented on #245
Thank you @dtaylor1701, I'll have a look this weekend and upload a universal binary once merged. 👍

[2022-01-30 14:47] Jeehut commented on #245
@dtaylor1701 @DaanVanHirtum I just uploaded a new binary to the release page, can you please try and confirm if it works now?

@dtaylor1701 Thank you for the PR, unfortunately the script didn't work for me, I had to adjust some paths, see d0a60c7c994b6447ed2d4e65ea6ab0bd8bab351e. But now running the script succeeds in a binary file that has double the size of the previous one, which makes sense gi

[2022-01-31 09:10] wassup- commented on #245
There still seems to be a problem on my x86 machine after updating to 4.9.0

[code]

[2022-01-31 10:46] Jeehut commented on #245
@wassup- Ahh, how I hate that error. I'm also getting it during development which prevents me from using breakpoints while coding on this project. 😞 It used to work ...

It's some kind of path problem, I think, but don't fully understand these things so I couldn't figure out a solution yet. If anyone has any tips on that, please help. The solution I'm currently aiming towards is a rewrite of Barty

[2022-01-31 19:50] dtaylor1701 commented on #245
Unfortunately it's not working for the same reason @wassup- pointed out. To meet it looks like `SwiftSyntaxParser` isn't being bundled with the rest of the executable.

[2022-01-31 19:53] Jeehut commented on #245
@dtaylor1701 Do you know a way to bundle `SwiftSyntaxParser` with the executable? If yes, feel free to post a PR. 👍

[2022-02-12 19:09] sh95014 commented on #63
The discussion appears to continue at https://github.com/Flinesoft/BartyCrouch/issues/156

[2022-02-21 09:43] #179 closed

[2022-02-21 09:45] Jeehut opened #248 "Embed lib_InternalSwiftSyntaxParser.dylib into package"
## Problem Statement
Multiple issues have been raised already, it's time to fix them all: #179, #198, #200, #237, #245.

## Suggested Solution
Embed the library as suggested in documentation:
https://github.com/apple/swift-syntax#embedding-swiftsyntax-in-an-application

[2022-02-21 10:08] Jeehut commented on #248
See also:
https://www.polpiella.dev/embedding-a-dylib-in-a-swift-package/

[2022-03-12 16:35] lewis-smith commented on #179
`ln -s /Applications/Xcode-13.3.0-Release.Candidate.app/ /Applications/Xcode.app`

[2022-03-15 21:03] Kondamon commented on #201
@Jeehut: The same error happens again with Xcode 13.3 and Swift 5.6.

[2022-03-15 21:06] Jeehut commented on #201
@Kondamon Thank you for reporting, I'll have a look tomorrow.

[2022-03-16 11:23] Jeehut commented on #201
I just had a look into this and I think I need to update the [swift-syntax](https://github.com/apple/swift-syntax) dependency to the new version supporting Swift 5.6. I just tried, but unfortunately there's currently [a bug](https://bugs.swift.org/browse/SR-15989) in the latest release of swift-syntax which [is being worked](https://github.com/apple/swift-syntax/pull/372) on at the moment. Other t

[2022-03-16 22:00] philviso-reverb opened #249 "error: the target 'SwiftSyntax' in product 'SwiftSyntax' contains unsafe build flags"
Our app has a bootstrap script we run to set up new development environments. The script installs homebrew, mint, and then builds bartycrouch through mint. Recently this script started failing to build bartycrouch. Something changed with how `SwiftSyntax` includes unsafe flags in its `Package.swift` file, and it seems like it's including them in cases where it didn't used to. When I pin the `Swift

[2022-03-17 16:17] philviso-reverb commented on #249
@Jeehut Thanks for the update!

[2022-03-18 10:30] FlineDevPublic commented on #249
@philviso-reverb I'm currently working on the new release in public during my live stream. Join me if you're interested: https://www.twitch.tv/Jeehut

[2022-03-18 11:48] FlineDevPublic commented on #249
@philviso-reverb I just [released version 4.10.0](https://github.com/Flinesoft/BartyCrouch/releases/tag/4.10.0) with a fix. Should be live once https://github.com/Homebrew/homebrew-core/pull/97188 is merged. 🎉

---
_This comment was written during my regular **Open Source live stream on [Twitch](https://www.twitch.tv/jeehut)**. Follow me there to support my work!_

[2022-03-18 11:48] #249 closed

[2022-03-18 11:48] FlineDevPublic commented on #201
@trujamal @AdminAnticaptcha @Kondamon @NickAtGit I just [released version 4.10.0](https://github.com/Flinesoft/BartyCrouch/releases/tag/4.10.0) with a fix. Should be live once https://github.com/Homebrew/homebrew-core/pull/97188 is merged. 🎉

---
_This comment was written during my regular **Open Source live stream on [Twitch](https://www.twitch.tv/jeehut)**. Follow me there to support my work!_

[2022-03-29 04:54] patricks opened #250 "Support for none default Xcode install path"
Currently Xcode has to be installed unter /Applications/Xcode.app otherwise bartycrouch can't find some libraries. I have installed multiple Xcode versions via the Xcodes.app. The different versions are placed unter e.g. /Applications/Xcode-13.3.0.app/. In this case bartycrouch doesn't work.
It would be nice if bartycrouch could figure out the currently active version and use this one.

[2022-03-29 17:15] #250 closed

[2022-05-02 08:03] ivan-gaydamakin opened #251 "Add new line on every translation after normalize"
## Problem Statement
I have file like:
[code]

When I made "normalize" I got:
[code]

## Suggested Solution
Maybe add some param for "normalize" step, like "with_new_line=false"?

[2022-05-03 12:41] Jeehut commented on #251
@ivan-gaydamakin Thank you for that suggestion. That's actually a nice idea and should be easy enough to implement. Do you want to tackle the implementation yourself, maybe? You'd just need to add a new param [here](https://github.com/FlineDev/BartyCrouch/blob/main/Sources/BartyCrouchKit/OldCommandLine/CommandLineActor.swift#L139-L147), pass that down to the `StringsFileUpdater` and adjust the sep

[2022-05-19 07:42] MarinaHuber opened #252 "Translate successful but no output for Storyboards Main.string file"
## Expected Behavior
When building script and using translate, I would expect to see some Croatian translations for the Main.string
I am NOT using "code" and Localizable.string but just plain user-facing text in Main.string for testing purposes
Also when running Azure api all works with GLOBAL region:

[code]

## Actual Behavior
Script runs success but no translate, and no idea how to debug it.
`/

[2022-05-19 23:07] Jeehut commented on #252
@MarinaHuber Thank you for reporting this issue. To help you, I need more information. Can you send me a screenshot of your file structure, including the `Main.strings` file in the language you expect it to be translated to and the `Main.strings` file in the source language `en`. Also, have you tried translating to other languages or is Croatian the only other language you have set up? That would

[2022-05-25 06:39] CavalcanteLeo commented on #133
I'm getting the same error:

`.bartycrouch.toml`:
[code]

swiftgen
[code]

`BartyCrouch.swift`
[code]

error:
[code]

[2022-05-25 09:09] MarinaHuber commented on #252
@Jeehut thank you for reaching out! here is the slightly different set-up but never the less nothing gets translated it is  "Hello world" project with the custom .toml file. I would expect that my Localizable.string (Spanish) on a **build** gets translated. Also I need to use @Designables to localize the Storyboard elements.
`Localizable.strings:  success: BartyCrouch:  Successfully translated 0 v

[2022-05-25 21:01] CavalcanteLeo opened #253 "BartyCrouch with SwiftGen creates empty string values"
I'm getting empties string value when combining BartyCrouch and SwiftGen, it shows me this error:

error:
[code]

and my string files are empty like this:

<img width="476" alt="Screen Shot 2022-05-25 at 03 44 34" src="https://user-images.githubusercontent.com/1735944/170197526-9a6ab2df-7d39-43bd-bd9e-582d3c06e5b9.png">

<img width="326" alt="Screen Shot 2022-05-25 at 03 41 09" src="https://user-i

[2022-05-27 14:52] #251 closed

[2022-05-27 15:06] FlineDevPublic commented on #252
@MarinaHuber I just had a look at this during my stream and explained in detail why those warnings or errors are being shown. I'll link to the exact time code later, but in short, those errors come from an Apple tool, not from BartyCrouch. And neither Apple nor I can fix the root cause. But to remove the errors, you can simply exclude the subpath `"Helpers"` from the `[update.code]` task, see here

[2022-05-27 15:06] #252 closed

[2022-05-30 05:52] CavalcanteLeo commented on #253
Dude, i don't even know u, but i already love u, after i added `localizablePaths` it works, and this mtf project is a time saver that save a lot of work (and time)
[code]

also, i'd love to watch u on Twitch, but i will be flying at the exactly time (heading to cupertino for WWDC)

[2022-05-30 05:52] #253 closed

[2022-07-11 19:30] philviso-reverb commented on #249
@FlineDevPublic Thanks! (Sorry for the late reply, I totally missed your comment)

[2022-08-15 10:25] noah-nuebling opened #258 "[Feat] Autogenerate `.strings` files"
## Problem Statement

If a translator wants to add a new language, and does that through Xcode, all the translated UI strings in the .strings files will be automatically copied over from the Base localisation.

It might be nicer to start with a blank slate, where none of the UI strings for the new language are filled in automatically.

I've found no way to turn this off in Xcode. So I wish bartycr

[2022-08-15 12:14] Jeehut commented on #258
@noah-nuebling That sounds like a useful feature if you have many Strings files in your project. But it involves integrating with the Xcode project file which adds to the complexity. I won't have time to implement this feature, but I'd review a PR adding this as long as it doesn't complicate things too much and keeps the Xcode project integration lean.

Note that for projects with just one or few

[2022-08-15 15:39] noah-nuebling commented on #144
From [this Apple Documentation](https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPInternational/InternationalizingYourUserInterface/InternationalizingYourUserInterface.html#//apple_ref/doc/uid/10000171i-CH3-SW2):

I'm new to localization and just throwing this out there, but wouldn't this suggest that you have the translation for the development language directly in the

[2022-08-15 15:54] noah-nuebling commented on #38
Hi! Is the `overrideComments` option still available? It doesn't seem to work for me.

I can only get the comments to change if I completely delete a key from the .strings file before running `bartycrouch update`

I'm on macOS 13.0 Beta (22A5321d), using bartycrouch 4.11.0, and my `.bartycrouch.toml` looks like this:

[code]

Let me know if I should create an issue for this.

[2022-08-15 16:05] noah-nuebling commented on #258
That's a pretty nice workaround I can live with that I think.

I have a little bit of experience trying to extract info from Xcode project files and I definitely understand your weariness of that.

Thanks!

[2022-08-15 16:26] noah-nuebling commented on #193
So should the Base xib and storyboard files not contain *any* user facing strings?

From [this Apple Documentation](https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPInternational/InternationalizingYourUserInterface/InternationalizingYourUserInterface.html#//apple_ref/doc/uid/10000171i-CH3-SW2):

I'm new to localization and just throwing this out there, but wouldn't thi

[2022-08-16 07:43] Jeehut commented on #38
@noah-nuebling If an option is documented in the README, it is still supported. Feel free to report an issue.

[2022-08-16 07:54] Jeehut commented on #193
@noah-nuebling The section you quote has a screenshot right before it where you can see only a `.storyboard` and a `.xib` file, there's no `.strings` file involved and I think this has a reason. Of course, you could technically put a `Localizable.strings` file into the Base.lproj folder and act like it's in `en.lproj` – but what's the point? You could just as well move it to `en.lproj` and make it

[2022-09-08 14:07] Sn0wfreezeDev commented on #201
Getting now the same error with Xcode 14 RC, all the betas were fine and not producing this issue. :/

[2022-09-08 14:51] Jeehut commented on #201
@Sn0wfreezeDev Thank you for reporting this. Unfortunately, BartyCrouch is depending on [swift-syntax](https://github.com/apple/swift-syntax) which always breaks when using a higher Swift version (Xcode 14 ships with Swift 5.7). Until there's a release of swift-syntax with Swift 5.7 support, I can't make a release with a fix.

This is one of the reasons why I worked on a successor to BartyCrouch w

[2022-09-09 07:54] Sn0wfreezeDev commented on #201
Thanks for showing that, I will definitely have a look at it and try to change our current workflow to using ReMaFox :)

[2022-09-09 18:53] NickAtGit commented on #201
Temporary fix to use Xcode 14 and BartyCrouch: Leave Xcode 13.x.x with an unchanged name of Xcode.app in your applications folder.

[2022-09-24 23:08] noah-nuebling commented on #193
Thanks a lot for your clarification @Jeehut!

I went the route of using the "Base" language interface builder files directly when the apps' language is set to English by just not providing an English `.strings` file for them.
And then for `Localizable.strings` and `Localizable.stringsdict` I have an English version for each.

The strucure is a little weird but it alleviates me of some extra work.

[2022-09-24 23:10] noah-nuebling opened #261 "`overrideComments` option doesn't work"
Hi! The `overrideComments` option doesn't seem to work for me.

I can only get the comments to change in my `Localizable.strings` file if I first manually delete the comment from the `.strings` file before running `bartycrouch update`.

I've tested this on macOS 13.0 Beta 5 through Beta 8, using bartycrouch 4.11.0, and my `.bartycrouch.toml` looks like this:

[code]

My CLT output looks like this

[2022-09-24 23:15] noah-nuebling commented on #38
Alright @Jeehut, I posted an issue. It's mostly copy pasted from the comment but I added some extra details.

[2022-09-25 08:51] Jeehut commented on #261
@noah-nuebling Thank you for providing all these details. I might take a look at this in my next Open Source stream on Friday (find my exact schedule [here](https://www.twitch.tv/Jeehut/schedule)). If you want to help me understand the problem in case I can't reproduce it with the information provided above, just join me in the chat.

[2022-09-25 10:19] Jeehut commented on #193
@noah-nuebling Well, BartyCrouch's linting and normalizing features won't work properly without a `.strings` or `.stringsdict` file in the source language, the same is true for [ReMafoX](https://twitter.com/ReMafoX_App) as well (at least for now). So I would recommend adding an English `.strings` file instead of using `Base` as English, BartyCrouch/ReMafoX will make sure to keep the English string

[2022-09-25 20:58] noah-nuebling commented on #193
I haven't noticed issues so far with keeping the `.strings` files in sync with the IB files. But I will keep this in mind if I have any issues. Thanks!

[2022-09-26 06:48] Perx-Engineering opened #263 "[Bug] CI failed for version 4.12.0"
The pipeline for 4.12.0 failed and so it's not possible to upgrade to this version of the tool via brew.

[2022-10-06 06:04] Jeehut commented on #263
I believe this was an issue with SwiftSyntax which was fixed in [this new release](https://github.com/apple/swift-syntax/releases/tag/0.50700.1) just 20 hours ago. I had to make another release (4.12.1) to ship BartyCrouch via Homebrew, see https://github.com/Homebrew/homebrew-core/pull/112470/checks.

[2022-10-06 06:08] Jeehut commented on #201
A fixed [swift-syntax release](https://github.com/apple/swift-syntax/releases/tag/0.50700.1) has been made just 20 hours ago and I already sent over a 4.12.1 update to Homebrew. BartyCrouch should be working for Xcode 14 as soon as https://github.com/Homebrew/homebrew-core/pull/112470 is merged.

Note that swift-syntax now includes `_InternalSwiftSyntaxParser.dylib` as a binary framework dependenc

[2022-10-07 15:10] mman opened #264 "[Bug] update.code with additive=false and code in multiple parent directories looses strings"
## Steps to Reproduce:

I have my `.bartycrouch.toml` configured in a way that it looks up strings in multiple code directories referenced via `../` and combining them into one `Localizable.strings` file located in `./`

For example like this:

[code]

## Expected Behavior:

I expect `bartycrouch update` to combine all strings from all sources, clean them up and put them into one `Localizable.stri

[2022-10-07 15:28] mman opened #265 "[Feat] Tip: How to localize LocalizedStringResource types with bartycrouch"
## Problem Statement

I use `bartycrouch` successfully for years to help me manage localizations for base localized `.storyboard` files and regular `.m` and `.swift` files using `NSLocalizedString`.

Since working with iOS 16 `AppIntents` framework and possibly with `SwiftUI` type of localization, localized strings are not annotated anymore, but simply derived with the help of the compiler when a

[2022-10-07 15:56] #261 closed

[2022-10-07 16:13] Jeehut commented on #265
@mman Thank you for sharing this (even [while I was live](https://www.twitch.tv/Jeehut) working on another issue 😆 ). If it's true that the `-s` option only _adds_ another function to the existing ones, I think we could add the `LocalizedStringResource` option there by default if no other option is specified in the config file. I would love to review & merge a PR which does this and documents that

[2022-10-07 16:23] Jeehut commented on #264
@mman Thank you for reporting this, being detailed and even providing a workaround. I think it makes sense to change the default behavior to work like what you expect to work like. I don't think it's related to the `../` prefixes (if they work at all, they should work correctly, and they seem to work for your). Instead, I just checked and found the function which holds the logic for updating the S

[2022-10-07 16:49] noah-nuebling commented on #261
Thank you very much, glad to hear it's been resolved!

[2022-10-07 16:57] Jeehut commented on #261
I just made progress on the Xcode 14 front so I actually already started a new release 4.13.0 which includes this feature. Hope the Homebrew pipeline works this time: https://github.com/Homebrew/homebrew-core/pull/112557

[2022-10-08 11:29] Jeehut commented on #201
Alright, version 4.12.1 also did not go through, but then someone from the [swift-syntax](https://github.com/apple/swift-syntax/issues/884) team helped me by pointing me a solution of statically linking the `.dylib` so we don't have these yearly Xcode upgrade issues in the future. I [released 4.13.0](https://github.com/FlineDev/BartyCrouch/releases/tag/4.13.0) and this time, it actually has gone t

[2022-10-08 11:32] Jeehut commented on #248
Update: There still was a linking problem in 4.12.1 so I released 4.13.0 with a different approach, which worked. Therefore, this should be availble in 4.13.0 via Homebrew.

[2022-10-08 11:33] Jeehut commented on #38
FYI: @noah-nuebling's issue was fixed in the meantime and this should fully work again in version 4.13.0+.

[2022-10-08 16:13] Kondamon commented on #201
@Jeehut, thank you for your effort fixing this issue. I have tried 4.13.0 now with Version 14.1 beta 3 (14B5033e), most errors are gone. However, I receive `warning: BartyCrouch:  Could not parse syntax tree of Swift file.` for all Swift files that are located within "Project/SupportingFIles" as given in the update.transform task. With Xcode 13 everything worked without any issues.

[code]

[code]

[2022-10-10 09:23] Jeehut commented on #201
@Kondamon Hmm ... thank you for informing me about this. Weird, it should use the statically linked version now, so the Xcode version shouldn't matter anymore. Does this also happen on non-beta Xcode 14.0?

[2022-10-10 10:26] mman commented on #264
I have taken a quick look at the linked code, will see if I can come up with a failing test first and then fix the logic... it's like a low priority with existing workaround, but still would be nice get it working... `bartycrouch` is helping me a lot and I do not see it disappear any time soon given where all the l18n stuff is going on Apple platforms...

[2022-10-11 07:54] hsalminen commented on #201
@Jeehut I can confirm that the issue reproduces with non-beta version of Xcode as well (Version 14.0.1 (14A400)).

`warning build: BartyCrouch:  Could not parse syntax tree of Swift file.`

I also see another warning which is most likely related to the same issue.

`warning build: BartyCrouch:  Could not find 'SupportedLanguage' enum within 'BartyCrouch' enum within path.`

BartyCrouch version: 4.

[2022-10-11 08:12] NickAtGit commented on #201
This workaround still works:
https://github.com/FlineDev/BartyCrouch/issues/201#issuecomment-1242350767

[2022-10-11 08:18] hsalminen commented on #201
@Jeehut thanks for the update, really appreciate your effort! The new project seems super interesting but as you mentioned it is not for the same use case. The BartyCrouch is a perfect fit for our setup! 😎

@NickAtGit thanks for letting us know that the workaround is still valid!

[2022-10-11 08:20] Jeehut commented on #264
@mman The same command works for me, but the issue is that there's an asset file missing with secrets for testing machine transltors. It's my fault, I hadn't documented it in the README, but I've just added the following to the README which should solve your problem:

Thanks for taking a look at this!

[2022-10-11 12:19] mman commented on #265
@Jeehut I have tried to update the README and `customFunction` default value via https://github.com/FlineDev/BartyCrouch/pull/266. Let me know what you think...

[2022-10-11 14:40] mman commented on #264
@Jeehut I have attempted to fix this via https://github.com/FlineDev/BartyCrouch/pull/267. I tested against my limited setup, works as expected but I am not sure if I did not accidentally break anything else. `swift test` passes.

[2022-10-13 11:27] MaxAdamyan opened #268 "[Feat] Support for modular application"
## Problem Statement

I have multi-modular application. Modules are defined as separate swift packages. I want to have a possibility to collect localizable strings from each module in a `Localizable.strings` of the same module.

## Suggested Solution

A possible solution will be, to have a possibility to define more than on of each task. E.g. `code`: we can have one `code` task for main applicatio

[2022-10-13 18:55] Jeehut commented on #268
Have you tried creating multiple `.bartycrouch.toml` files, one for each module? And if you use the build-script, just make sure to repeat the commands for each `--path` (or `-p`) so they all get updated properly. This should be possible, tell me if you need any further assistance.

[2022-10-13 21:28] Jeehut commented on #258
Closing this as "Out of Scope" as there's a workaround available.

[2022-10-13 21:28] #258 closed

[2022-10-14 11:43] MaxAdamyan commented on #268
@Jeehut thank you very much. I just run multiple `update` commands for each module in the respective directory.

[2022-10-14 11:47] Sn0wfreezeDev commented on #201
I found another _dirty_ quick fix. But be warned that this will ignore **all** warnings and errors from bartycrouch:
[code]

[2022-10-15 03:35] mshibanami commented on #201
swift-syntax 0.50700.0 might be what BartyCroush should use for now, as the release note of 0.50700.1, which BartyCrouch currently uses, mentions this:

I cloned BartyCrouch repo, changed (reverted) swift-syntax from 0.50700.1 to 0.50700.0 in `Package.swift`, ran `swift build -c release`, and called `/path/to/BartyCrouch/.build/release/bartycrouch update` in my app's repo. Then the errors were gon

[2022-10-15 06:51] Jeehut commented on #268
@MaxAdamyan Sounds great. If this resolves the issue for you, please close this ticket. Else, let me know how I can help.

[2022-10-21 03:23] #265 closed

[2022-10-21 03:31] Jeehut commented on #268
As there's no answer here and I believe that the last message can be interpreted as "the suggested workaround worked for me", I'm going to close this until someone comments that the workaround actually doesn't work.

[2022-10-21 03:31] #268 closed

[2022-11-08 19:04] tmolitor-stud-tu commented on #194
For Monal IM I'm using a combination of Xcodes xliff string extraction on compilation, bash, a python script and bartycrouch to get SwiftUI strings added to my strings file.

Here is the commit Introducing this functionality, maybe this is useful to someone: https://github.com/monal-im/Monal/commit/6fcdcb6df0fc454f46c0cfb07bffd0d3c023edce

I had to temporarily turn off "SWIFT_EMIT_LOC_STRINGS" whe

[2022-11-08 23:15] Jeehut commented on #194
@tmolitor-stud-tu Thank you for sharing your solution and experiences.

Since my last comment on this thread, there's been a development that might be of interest to all SwiftUI users of BartyCrouch: I released a new Mac app called [ReMafoX](https://remafox.app) which basically is a successor to BartyCrouch with more features. Besides other things, it has native support for `LocalizedStringKey` bu